:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desatured-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  background: var(--primary-pale-blue);
  font-family: 'Red Hat Display', sans-serif;
  height: 100vh;
  -webkit-font-smoothing: antialiased;
}

main {
  background: url(../img/bg.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  min-height: 437px;
}

.container {
  max-width: 450px;
  margin: auto;
  padding-top: 102px;
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-bottom: 7.1rem;
}

.content {
  width: 100%;
  margin: auto;
  -webkit-box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
          box-shadow: 0px 40px 40px -20px rgba(13, 48, 189, 0.151826);
  border-radius: 20px;
  background-color: #fff;
  padding-bottom: 4.8rem;
}

.content img {
  border-radius: 20px 20px 0 0;
  max-width: 450px;
  width: 100%;
}

.info-card {
  margin-top: 4.5rem;
  margin-bottom: 3.2rem;
  padding: 0 4.8rem;
}

.info-card h1 {
  color: var(--neutral-dark-blue);
  font-size: 2.8rem;
  font-weight: var(--font-black);
  text-align: center;
  line-height: 3.8rem;
}

.info-card p {
  text-align: center;
  color: var(--neutral-desatured-blue);
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}

.card-preco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--neutral-very-pale-blue);
  padding: 2.5rem 2.4rem;
  border-radius: 11px;
  max-width: 354px;
}

.card-preco p {
  margin: 0;
}

.card-preco a {
  color: var(--primary-bright-blue);
  font-size: 1.4rem;
  font-weight: var(--font-bold);
}

.periodo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.plano-periodo {
  font-size: 1.6rem;
  font-weight: var(--font-black);
  color: var(--neutral-dark-blue) !important;
}

.plano-preco {
  font-size: 1.6rem;
  font-weight: var(--font-medium);
  color: var(--neutral-desatured-blue) !important;
}

.botao-container {
  padding: 0 4.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.2rem;
}

.botao-primario {
  font-size: 1.5rem;
  text-decoration: none;
  text-align: center;
  padding: 1.5rem;
  background-color: var(--primary-bright-blue);
  color: #fff;
  width: 100%;
  margin: auto;
  border-radius: 11px;
  -webkit-box-shadow: 0px 40px 40px -10px rgba(13, 48, 189, 0.151826);
          box-shadow: 0px 40px 40px -10px rgba(13, 48, 189, 0.151826);
}

.botao-cancelar {
  text-decoration: none;
  font-size: 1.5rem;
  color: var(--neutral-desatured-blue);
  font-weight: var(--font-black);
}

@media screen and (max-width: 375px) {
  .info-card {
    padding: 0 2.4rem;
  }
  .info-card h1 {
    font-size: 2.2rem;
  }
  .info-card p {
    font-size: 1.5rem;
  }
  .card-preco {
    padding: 1.6rem;
  }
  .plano-periodo {
    font-size: 1.4rem;
    font-weight: var(--font-black);
    color: var(--neutral-dark-blue) !important;
  }
  .plano-preco {
    font-size: 1.4rem;
    font-weight: var(--font-medium);
    color: var(--neutral-desatured-blue) !important;
  }
  .botao-container {
    padding: 0 2.4rem;
  }
}
/*# sourceMappingURL=style.css.map */